body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans';
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 15px 0px;
    justify-content:space-between;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4F80FF;
    padding: 30px 0px;
    margin-top: auto;
    width: 100%;
}

.logo_header {
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.base_options {
    display: flex;
    flex-direction: column;
    width: 45px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 5px 0px 0px 5px;
    border: 0px #ffffff solid; 
    background-color: #ffffff00;
}

.rectangle_1 {
    background-color: #4F80FF;
    width: 30px;
    height: 5px;
    border-radius: 25px;
    margin-bottom: 5px;
}

.logo_footer {
    display: flex;
    height: 60px;
    margin-right: 20px;
}


.info {
    margin-left: 20px;

    >div {
        font-size: 20px;
        color: #ffffff;
    }

    >.part_info {
        display: flex;
        gap: 10px;
        margin-top: 7px;
        
        >img {
            display: flex;
            height: 15px;
        }

        >div {
            font-size: 14px;
        }
    }
}

.presentation_base {
    display:flex;
    position: relative;
    background-image: url('../image/background_presentation.svg');
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-top: 100px;
    padding-bottom: 80px;

    >.info_base {
        position: relative;
        width: 320px;
        height: 320px;
        right: 20px;

        >.elipse_1 {
            position: relative;
            width: 288.92px;
            height: 100.71px;
            background-color: rgba(255, 255, 255, 0.90);
            border-radius: 100px;
            top: 220px;
            left: 0px;
        }

        >.elipse_2 {
            position: relative;
            width: 319.14px;
            height: 100px;
            transform: rotate(-70.01deg);
            background-color: rgba(247, 174, 248, 0.90);
            border-radius: 80px;
            top: 17px;
            right: 75px;
        } 
        
        >.elipse_3 {
            position: relative;
            width: 319.14px;
            height: 100px;
            transform: rotate(-70.01deg);
            background-color: rgba(79, 128, 255, 0.90);
            border-radius: 80px;
            bottom: 80px;
            left: 20px;
        } 

        >.elipse_6 {
            position: relative;
            width: 319.14px;
            height: 100px;
            transform: rotate(-70.01deg);
            background-color: rgba(247, 174, 248, 0.90);
            border-radius: 80px;
            bottom: 180px;
            left: 118px
        } 

        >.psychologist_photo {
            position: relative;
            background-image: url(../image/psychologist.svg);
            background-position: center;
            width: 80px;
            height: 80px;
            border-radius: 99px;
            bottom: 350px;
            left: 90px;
        }

        >.puntation {
            position: relative;
            bottom: 400px;
            left: 200px;
            width: 130px;
        }
        
        >.price {
            position: relative;
            width: 135px;
            bottom: 415px;
            left: 175px;
            font-style: italic;
            font-weight: 700;
        }

        >.method {
            position: relative;
            width: 165px;
            bottom: 425px;
            left: 155px;
            font-style: italic;
            font-weight: 700;
        }

        >h2 {
            position: relative;
            bottom: 445px;
            left: 50px;
            font-style: italic;
            font-weight: 700;
        }

        >p {
            position: relative;
            bottom: 460px;
            left: 30px;
            font-style: italic;
            font-weight: 700;
        }   
    }
}

.comment_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    margin-top: 40px;
    padding-bottom: 0px;
    
    >.elipse_4 {
        position: absolute;
        background-color: #FF4DE6;
        width: 90%;
        height: 200px;
        border-radius: 100px;
        z-index: 1;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); 
    }

    >.description_container {
        position: relative;
        background-color: #EEE7E7;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); 
        border-radius: 20px;
        width: 70%;
        height: 220px;
        padding: 10px 20px;
        bottom: 10px;
        z-index: 2;

        >h2 {
            color: black;
            font-size: 25px;
            font-family: Open Sans;
            font-style: italic;
            font-weight: 600;
            word-wrap: break-word;
            margin: 0;
        }

        >p {
            color: black;
            font-size: 15px;
            font-family: Open Sans;
            font-style: italic;
            font-weight: 400;
            word-wrap: break-word;
            margin-top: 5px;
        }
    }

    >.elipse_5 {
        position: absolute;
        background-color:#4F80FF;
        width: 90%;
        height: 200px;
        border-radius: 100px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); 
    }
}

h2 {
    color: black;
    font-size: 26px;
    font-family: Open Sans;
    font-style: italic;
    font-weight: 700;
    word-wrap: break-word
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow_down {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border: 0px #ffffff solid; 
    border-radius: 99px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.50);

    >.line_1 {
        position: relative;
        background-color: #000;
        height: 2px;
        rotate: 55deg;
        width: 20px;
        left: 4px;
    }

    >.line_2 {
        position: relative;
        background-color: #000;
        height: 2px;
        rotate: -55deg;
        width: 20px;
        right: 4px;
    }
}

.opinion_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    width: 95%;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.50); 
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff0000;
    text-decoration: none;
    margin: 20px 0px;
}