.profile_presentation {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    background-image: url(wallpaper_profile.svg);
    width: 100%;
}

.description-profile {
    margin-bottom: 10px;
}

.comment-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.opinion-label {
    margin-left: 5%;
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 700;
    word-wrap: break-word;
}

.report-button {
    display: flex;
    justify-content: center;
    color: #ff0000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}