@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.centered-conten-singup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  background: #EEE7E7;
}

.fondo-singup{
  --background: #EEE7E7;
}
  
