@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.info_footer_menu {
    background: transparent;
    
    >.info_footer {
        --background: transparent;
    }
}

.footer_label {
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
}