#pill{
  display: flex;
  flex-direction: row;
  position:relative;
  width: 100%;
  max-width: 1366px;
  height: 165px;
  border-radius: 100px;
  background-color: rgba(217, 62, 231, 0.818);
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  align-items: center;
  
}

#DoctorImageContainer{
  height: 100%;
  max-height: 135px;
  width: 100%;
  max-width: 135px;
  display: grid;
  place-items: center;
  border-radius: 100px;
  overflow: hidden;

}

#leftSide{
  display: block;
  width: 75%; 
  height: 165px; 
  background-color: #4F80FF;
  display: flex; 
  align-items: center;
  justify-content: center;

}

#rightSide{
  height: 165px;
  display: block;
  width: 100%;
  background-color: #F7AEF8;
  
  border-left: 30px;


  >#punctuation {
    position: relative;
    margin-top: 10px;
    margin-left: 5px; 
  }
  >#name{
    color: black;
    font-family: Open Sans;
    font-size: 15px;
    margin-left: 5px; 
  }
  >#AreaResume{
    color: black;
    font-family: Open Sans;
    margin-left: 5px;
    font-size: 15px;
  }
  >#Previsión{
    color: black;
    font-family: Open Sans;
    margin-left: 5px;
    font-size: 15px;
  }
}