@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.label {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.input {
    max-width: 235px;
    min-width: 200px;
    background: white; 
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); 
    border-radius: 8px;
    border: 1px #E0E0E0 solid; 
    display: "inline-flex"
}

.left_icon {
    padding-left: 12px;
}
